* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Celestial;
  src: url(../fonts/RubikPuddles-Regular.woff) format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: Flower;
  src: url(../fonts/IndieFlower-Regular.woff) format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  60% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  60% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc((1vw + 1vh) * 6);
  z-index: 100;
  overflow: hidden;
}
header::before {
  content: "";
  position: absolute;
  top: calc((1vw + 1vh) * -2);
  left: -10%;
  width: 120%;
  height: calc((1vw + 1vh) * 8);
  background: url(../img/clouds-line.png) center center no-repeat;
  background-size: cover;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: scroll 30s ease infinite;
          animation: scroll 30s ease infinite;
}

.flying-intro {
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.flying-intro::before {
  content: "";
  position: absolute;
  top: 75%;
  left: -10%;
  width: 120%;
  height: calc((1vw + 1vh) * 20);
  background: url(../img/clouds-line.png) center center no-repeat;
  background-size: cover;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: scroll 30s ease infinite;
          animation: scroll 30s ease infinite;
  z-index: 20;
}
.flying-intro__back {
  position: absolute;
  width: 130%;
  height: 130%;
  top: 50%;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  z-index: 0;
}
.flying-intro__front {
  pointer-events: none;
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  will-change: transform;
}
.flying-intro__text {
  position: absolute;
  top: 38%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  color: #fbff00;
  font: 400 calc((1vw + 1vh) * 2.5)/1.5 "Arial", serif;
  text-transform: uppercase;
  text-align: center;
  min-width: 70%;
}
.flying-intro__text h1 {
  font-family: Celestial;
}
.flying-intro__text p {
  font-family: Flower;
  font-size: calc((1vw + 1vh) * 1.5);
}
.flying-intro__balls {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
.flying-intro__ball {
  pointer-events: none;
  position: absolute;
}
.flying-intro__ball--1 {
  top: 68%;
  left: 15%;
  width: calc((1vw + 1vh) * 11);
}
.flying-intro__ball--2 {
  top: 37%;
  left: 74%;
  width: calc((1vw + 1vh) * 15);
}
.flying-intro__ball--3 {
  top: 20%;
  left: 30%;
  width: calc((1vw + 1vh) * 10);
}
.flying-intro__ball--4 {
  top: 20%;
  left: 8%;
  width: calc((1vw + 1vh) * 6);
}
.flying-intro__ball--5 {
  top: 15%;
  left: 57%;
  width: calc((1vw + 1vh) * 7);
}
.flying-intro__ball--6 {
  top: 30%;
  left: 98%;
  width: calc((1vw + 1vh) * 7);
}
.flying-intro__ball--7 {
  top: 60%;
  left: 87%;
  width: calc((1vw + 1vh) * 9);
}
.flying-intro__ball--8 {
  top: 60%;
  left: 60%;
  width: calc((1vw + 1vh) * 9);
}
.flying-intro__ball--9 {
  top: 63%;
  left: 44%;
  width: calc((1vw + 1vh) * 8);
}
.flying-intro__ball--10 {
  top: 12%;
  left: 90%;
  width: calc((1vw + 1vh) * 5);
}
.flying-intro__ball--11 {
  top: 82%;
  left: 80%;
  width: calc((1vw + 1vh) * 6);
}

.parallax {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  will-change: transform;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  60% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.info {
  position: relative;
  z-index: 20;
  min-height: 100vh;
  padding: calc((1vw + 1vh) * 3);
  padding-top: calc((1vw + 1vh) * 15);
  background: url(../img/balls-front-down.png) center 0 no-repeat, url(../img/rainbow-colors.jpg) 0 0 repeat;
  background-size: 100vw auto, calc((1vw + 1vh) * 20) calc((1vw + 1vh) * 35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc((1vw + 1vh) * 3);
}
.info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}
.info__wrapper {
  padding: calc((1vw + 1vh) * 4);
  background-color: white;
  border-radius: calc((1vw + 1vh) * 2);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}
.info h2,
.info p {
  position: relative;
  z-index: 2;
}

body {
  background-color: rgba(21, 116, 163, 0.8);
}

main {
  overflow: hidden;
}